/*-----------------------------------------------------------------------------------*/
/*  MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* -- NON MOBILE FIRST MEDIA QUERIES BASED ON TWITTER BOOTSTRAP -- */

/* Large display -- 1200px and up  /  70px columns  /  30px gutters */
@media only screen and (min-width: 1200px) {
	.mobile{
		display:none;
	}
	.mobile-hide p, .mobile-hide ul{
		display:block;
	}
	.mobile-hide{
		display:block;
		max-width:100%;
	}
	.count-down-section{
		margin-top:-225px;
	}
	.countdown-box, .single-testimonial .testimonial-container{
		max-width:1106px;
	}
	#enroll .mobile-hide h1{
		font-size:4.0rem;;
	}
	#enroll{
		max-height:inherit;
		min-height:1100px;
		background-size:contain;
	}
	#motherhood .text-outer{
		max-width:75% !important;
	}
	#motherhood{
		background-size:contain;
	}
	.membership-blocks h2.block-title{
		max-width:72%;
	}
	.membership-blocks .block-text{
		padding:25px;
	}
	.testimonial-section .testimonial .auth-img, .testimonial-section .testimonial img{
		max-width:255px;
	}
	#kate-bio .inner-text{
		display:block;
	}
	.mission-section .mission-block{
		max-width:1146px;
	}
	.mission-section .mission-block .mission-title{
		max-width:45%;
	}
	#community{
		min-height: inherit;
	}
	#about-kate{
		background-size: cover;
	}
	#about-kate .mobile-hide h2{
		font-size:3.6rem;;
	}	
}

/* Portrait tablets -- 768px and above  /  42px columns  /  20px gutters */
@media only screen and (max-width: 768px) {
	.video::after{
		height:100px;
		width:100px;
	}
	.vid-intro-text p br{
		display:none;
	}
	.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
		font-size:2.5rem;
	}
	#enroll{
		min-height:500px;
	}
	.count-down-section{
		margin-top:0;
	}
	.single-testimonial .testimonial-container, .mission-section .mission-block{
		max-width:90%;
	}
	.single-testimonial .testimonial-container .auth-text, .bonus-text .auth-text{
		max-width:65%;
	}
	/*#reason-u-r-here h2{
		word-wrap: break-word; /*NOT SURE WHY THIS IS NOT WRAPPING NORMALLY */
		/*width:96%;
	}*/
	#whats-needed ul{
		-moz-column-count: 3;
    	-webkit-column-count: 3;
    	column-count: 3;
	}
	.member-blocks .member-block{
		width: 100%;
	}
	.membership-blocks .block-text{
		min-height:inherit;
	}
	.mission-section .mission-block .mission-title{
		max-width:100%;
	}
	.testimonial-section .testimonial .auth-img, .testimonial-section .testimonial img{
		max-width:180px;
		min-width:180px;
	}
	#credits .center{
		padding:0 20px;
	}
}

/* Phones to tablets -- 767px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 767px) {
	.video::after{
		height:75px;
		width:75px;
	}
	.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
		font-size:2rem;
	}
	.mobile-hide h1, .mobile-hide h2{
		font-size:5rem;
	}
	#header-wrapper{
		padding-bottom:0;
	}
	#enroll,#about-kate{
		max-height:400px;
		background-size:contain;
	}
	.testimonial-section .testimonial .auth-img, .testimonial-section .testimonial img{
		max-width:150px;
		min-width:150px;
	}
}

/* Phones -- 480px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 480px) {
	.mobile{
		padding:25px;
	}
	#header-wrapper{
		min-height:200px;
		padding-top:25px;
	}
	.video::after{
		height:50px;
		width:50px;
	}
	.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
		font-size:2rem;
		white-space:pre-wrap;
		height: auto;
		line-height: normal;
		padding: 10px 30px;
	}
	.mobile-hide h1{
		font-size:3.6rem;
	}
	.mobile-hide h2{
		font-size:2.6rem;
	}
	#enroll,#about-kate{
		max-height:300px;
		background-size:cover;
	}
	.countdown-box{
		padding:25px;
	}
	.countdown-box .widget{
		max-width:100%;
	}
	.countdown_section{
		font-size:1.4rem !important;
	}
	.countdown_amount{
		padding:10px;
		line-height: 1;
	}
	.counter-button{
		margin:-25px auto;
		max-width:90%;
	}
	.single-button{
		margin:0 auto;
		max-width:90%;
	}
	#read-faqs strong::after{
		margin-bottom:0;
	}
	.single-testimonial .testimonial-container .auth-img, .bonus-text .auth-img{
		float:none;
		text-align: center;
	}
	.single-testimonial .testimonial-container .auth-text, .bonus-text .auth-text{
		max-width:100%;
	}
	#reason-u-r-here h2{
		font-size:3.4rem;
	}
	#whats-needed ul{
		-moz-column-count: 1;
    	-webkit-column-count: 1;
    	column-count: 1;
	}
	.member-blocks .member-block{
		margin-bottom:75px;
	}
	.membership-blocks .block-text{
		padding:25px 25px 50px;
	}
	.checklist-section ul{
		margin:0;
	}
	.checklist-section ul li{
		font-size:1.6rem;
	}
	.checklist-section ul li i{
		font-size:3rem;
		line-height:normal;
	}
	.bonus-text,.bonus-title{
		padding:25px;
	}
	.bonus-title{
		font-size:3rem;
		line-height: normal;
	}
	.bonus-section{
		padding:50px 0;
	}
	.mission-section .mission-block .mission-title{
		font-size:4rem;
	}
	.mission-section .mission-block .mission-text p{
		margin:0 auto;
	}
	.numbered-section .num-circle, .testimonial-section .testimonial .auth-img, .testimonial-section .testimonial .auth-txt{
		float:none;
		margin:0 auto;
	}
	.numbered-section .photo-list-box, .numbered-section .list-box{
		padding:40px 30px;
	}
	.numbered-section .item-text{
		margin-left:0;
	}
	.numbered-section .photo-list-box .photo-listing .listing-left, .numbered-section .photo-list-box .photo-listing .listing-right{
		display:block;
		margin:0 auto;
		width:100%;
		padding:0;
	}
	.testimonial-section .testimonial .auth-txt{
		max-width:100%;
	}
	.testimonial-section .testimonial{
		padding:25px;
		display:block;
	}
	.bonus-text .auth-text::before, .testimonial-section .testimonial .auth-txt .auth-quote::before{
		position:relative;
		margin-left:0px;
		margin-bottom:20px;
	}
	.testimonial-section .testimonial .auth-txt .auth-quote, .testimonial-section .testimonial .auth-txt .auth{
		margin-left:0px;
	}
	.testimonial-section .testimonial .auth-txt .auth{
		font-size:1.6rem;
	}
}



/* -- MOBILE FIRST MEDIA QUERIES -- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}