/****************************
Variables (colors etc.)
****************************/

/* Colors */
$grey: #aaa3a2;
$ltgrey: #eeecec;
$dkgrey: #776b6b;
$dkrgrey: #544645;
$coral: #ed6b64;
$ltcoral: #f6b5b1;
$green: #74a473;


/* Fonts */
$headings: 'Gotham Bold'; /*700*/
$body: 'Gotham Book'; /*400*/
$light: 'Gotham Light'; /*200*/