@font-face {
  font-family: 'Gotham Bold';
  src: url('Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Bold.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Bold.svg#6a327a217ddd10461b1acdc4d224fee0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('Gotham-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('Gotham-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-BoldItalic.svg#0831ed8e39b65ae233096554daef84db') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}
@font-face {
  font-family: 'Gotham Book';
  src: url('Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Gotham Book';
  src: url('Gotham-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('Gotham-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('Gotham-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-BookItalic.svg#3306677ba9cb099a0feef3c60eec633b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('Gotham-Light.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Light.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Light.svg#bf16822e282b4d885cff891f3a65335d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('Gotham-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('Gotham-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('Gotham-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-LightItalic.svg#aabee2733b9e804ef6d288e82f81e260') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}