/*-----------------------------------------------------------------------------------*/
/*  BLOG
/*-----------------------------------------------------------------------------------*/
.content-area .post-cat-comments, .content-area .post-title, .content-area .post-meta{
	text-align:center;
	margin-bottom:.5%;
}
.content-area .post-meta{
	font-size:1.4rem;
	margin-bottom:25px;
}
.content-area .read-more{
	text-align:center;
	margin:25px 0;
	padding-bottom:25px;
}
.content-area .read-more a{
	text-decoration:none;
}
.latest-posts{
	margin-top:90px;
	margin-bottom:90px;
}
.latest-post-img img{
}
.post{
	margin-bottom:50px;
	padding-bottom:25px;
	border-bottom:thin solid #ccc;
}
.post-title{
	margin-top:20px;
}
.post-title a{
	 color:#152b52;
	 text-decoration:none;
	 letter-spacing:.025rem;
	 -webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-title a:hover{
	color: #AE8231;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-meta{
	font-size:1.8rem;
	letter-spacing:.01rem;
}
.post-meta a{
	text-decoration:none;
}
.post-meta a:hover{
	text-decoration: underline;
}
.post-date{
	text-transform: capitalize;
}
.post-cat-comments{
	font-size:1.4rem;
	letter-spacing:.01rem;
	margin-top:-2px;
}
.post-cat-comments a:hover{
	text-decoration:none;
}
.intro{
	margin-bottom:75px;
}
.tags a{
	text-decoration:none;
}

/*-----------------------------------------------------------------------------------*/
/*	BLOG SINGLE
/*-----------------------------------------------------------------------------------*/

.post-body {
    margin:0;
}
.blog-posts .post-preview{
	margin-bottom:0;
}
blockquote{
	position: relative;
}
blockquote:before{
	content:'';
	display:block;
	background-image: url(_static/images/quote@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
    width: 23px;
    height: 16px;
	position: absolute;
    margin-left: -40px;
    top: 5px;
}
blockquote p {
	font-size: 2.0rem;
	color:$dkrgrey;
	line-height:30px;
}
blockquote p strong{
	text-transform:uppercase;
	font-weight:700;
	font-family:$headings;
	display:block;
	margin-top:10px;
}
.post-footer {
    text-transform: lowercase;
    margin: 45px 0;
    padding:15px;
	box-sizing:border-box;
    text-align: center;
	border-top:thin solid #ccc;
}
#pagination{
	margin-bottom:30px;
}
.nav-older{
	float:left;
}
.nav-newer{
	float:right;
}
.share-buttons div {
    display:inline-block;
    padding-right:10px;
}
.post img, .page img {
    max-width:100%;
    height:auto;
}
img.aligncenter {
    display:block;
    margin:0 auto 10px;
    max-width:100%;
    height:auto;
}
img.alignright {
    display:inline-block;
    padding-left:1.6%;
    float:right;
    max-width:100%;
    height:auto;
}
img.alignleft {
    display:inline-block;
    padding-right:1.6%;
    float:left;
    max-width:100%;
    height:auto;
}


/*-----------------------------------------------------------------------------------*/
/*	ABOUT AUTHOR
/*-----------------------------------------------------------------------------------*/

#about_author{
	background-color:#f6f6f6;
	box-sizing:border-box;
	padding:30px 30px 5px;
	margin:25px 0;
}
#about_author img {
    float: left;
    height: 106px;
	border-radius:50%;
    margin-right:20px;
    padding: 10px;
    width: 106px;
}
.author_text h4{
	margin-bottom:0;
}
.author_text a{
	text-decoration:none;
	color:#152b52;
}


/*-----------------------------------------------------------------------------------*/
/*	SIDEBAR & WIDGETS
/*-----------------------------------------------------------------------------------*/

.widget{
	margin-bottom:30px;
	padding:0 0 10px;
	border-bottom:thin solid #ccc;
}
.widget ul{
	list-style:none;
}
.widget:last-child{
	border-bottom:none;
}
.aside .widget.social{
	padding-bottom:20px;
}
.aside .widget.social .social-title{  
	letter-spacing: .05rem;
}
.aside .widget.social a{
	font-size:1.8rem;
	margin-left:3%;
	text-decoration:none;
}
.aside .widget.social a:hover{
	color:#AE8231;
}
#search_form { 
	position: relative; 
}
#search_form input { 
	text-indent: 30px;
	text-transform:lowercase;
	letter-spacing: .05rem;
	width:100%;
	height:45px;
	margin-bottom:10px;
}
#search_form .fa-search { 
  position: absolute;
  top: 23%;
  left: 10px;
  font-size: 18px;
}
#sidebar h3 {
    letter-spacing: .05rem;
	font-size:2.0rem;
    text-transform: lowercase;
    text-align: left;
}
.widget-subtitle{
	color:#ccc;
	font-style:italic;
	margin-top:-20px;
	margin-bottom:20px;
}

/*-----------------------------------------------------------------------------------*/
/*	RELATED POSTS
/*-----------------------------------------------------------------------------------*/

#related_posts h3{
	font-size:2.0rem;
}
#related_posts ul{
	list-style:none;
}
#related_posts ul li{
	display:inline-block;
	padding:0;
	margin-right:1.5%;
	max-width: 206px;
	vertical-align:top;
}
#related_posts ul li:last-child{
	margin-right:0;
}
.relatedcontent h3{
	text-transform:none;
	font-size:1.6rem !important;
	text-align:center;
	 
	margin-bottom:0;
}
.relatedcontent h3 a{
	color:#000;
}
.relatedcontent h3 a:hover{
	text-decoration:none;
}


/*-----------------------------------------------------------------------------------*/
/*	COMMENTS
/*-----------------------------------------------------------------------------------*/

#comments {
    clear: both;
	border-top:thin solid #b6ced1;
	padding-top:30px;
}

#comments h4 {
    margin:0 0 20px;
    letter-spacing: .05rem;
    line-height:1.4em;
	font-size:2.0rem;
    text-transform: uppercase;
    text-align: left;
}
.user{
	float: left;
    width: 75px;
    height: 75px;
	margin-right: 20px;
}
.user img{
	border-radius:50%;
}

#comments .message {
    overflow: hidden;
    padding: 0 20px 0 20px;
    position: relative;
}
#comments .message .reply-link {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 1;
    font-size: 1.4rem;
    text-transform: lowercase;
}
#comments .message  .info {
    margin-bottom: 12px;
}
.comment-author{
	font-size:1.8rem;
	letter-spacing:.01rem;
}
.comment-time{
	letter-spacing:.01rem;
	font-size:1.4rem;
	text-transform:uppercase;
}
.comment-time a{
	color:#000;
}
.comment-time a:hover{
	color:#AE8231;
	text-decoration:none;
}
ul#comment-block {
    margin:0;
    padding-bottom:10px;
}

ul#comment-block li.comment {
    padding: 15px 0;
    list-style: none;
    overflow: hidden;
	border-bottom: 1px solid #ccc;
}

ul#comment-block li.comment ul.children {
    margin: 0 0 0 15%;
}
ul#comment-block li.comment ul.children li.comment {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 15px;
	border-top: 1px solid #ccc;
}



/*-----------------------------------------------------------------------------------*/
/*	COMMENT FORM
/*-----------------------------------------------------------------------------------*/

#respond {
    padding: 30px 0 0;
    clear: both;
    overflow: hidden;
}