/* Sales Page Styles */

/* VIDEO SECTION */
.video-section{
	box-sizing: border-box;
	padding:0 0 40px;
}
.vid-intro-text{
	text-align:center;
	font-size:4.0rem;
	font-family: $light;
	font-weight:200;
	line-height: 1.25;
	margin-bottom:60px;
}
.video-container{ 
	max-width:987px; 
	margin:0 auto 35px;
}
.video { 
	position: relative; 
	padding-bottom: 56.25%; /* 16:9 */ 
	height: 0;
}
.video img { 
	position: absolute; 
	display: block; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 20; 
	cursor: pointer; 
}
.video:after { 
	content: ""; 
	position: absolute; 
	display: block; 
    background: url(_static/images/play-button.png) no-repeat 0 0; 
	background-size: contain;
    top: 35%; 
	left: 45%; 
	width: 129px; 
	height: 129px; 
	z-index: 30; 
	cursor: pointer; 
} 
.video:hover:after {
	opacity:0.75;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
.video iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	max-width:987px;
}
/* image poster clicked, player class added using js */
.video.player img { 
	display: none; 
}
.video.player:after { 
	display: none; 
}

/* RIGHT PLACE SECTION */
#right-place{
	box-sizing: border-box;
	padding:50px 0;
}
#right-place h2{
	text-transform: uppercase;
}
#right-place h6{
	font-size:4.3rem;
	font-family:$light;
	font-weight:200;
}


/* ENROLL SECTION */
#enroll{
	background-repeat: no-repeat;
	background-position: right top;
	background-size:cover;
	max-height:450px;
	position:relative;
	box-sizing: border-box;
	padding:80px 0 0;
	z-index: -1;
}
#enroll h1{
	max-width:650px;
}
#enroll p, #enroll ul{
	max-width:725px;
}
#enroll ul{
	margin:0;
}
#enroll ul li {
  position: relative;
}
#enroll ul li:before, #enroll ul li:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
}
#enroll ul li:after {
  right: -1px;
  height: 1px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($coral), to(transparent));
  background-image: -webkit-linear-gradient(left, $coral, transparent);
  background-image: -moz-linear-gradient(left, $coral, transparent);
  background-image: -o-linear-gradient(left, $coral, transparent);
}
#enroll ul li:last-child:after{
	height:0;
}

/*COUNTDOWN SECTION */
.count-down-section{
	margin-top:0;
}
.countdown-box{
	box-sizing: border-box;
	padding:40px 90px;
	background-color:$green;
	z-index: 1;
	max-width:900px
}
.countdown-box .top-text p{
	font-size:3.2rem;
}
.countdown-box .top-text h1{
	text-transform: uppercase;
}
.countdown-box .bottom-text p{
	font-size:3.0rem;
}
.countdown-box .bottom-text a{
	color:#fff;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.countdown-box .bottom-text a:hover{
	color:$coral;
}
.countdown-box .widget{
	border-bottom:none;
	max-width:525px; /*was 415px*/
	margin:0 auto;
}
.counter-button{
	margin-top:-40px;
	z-index: 2;
	position: relative;
}
.countdown_section{
	text-transform: uppercase !important;
	color:#fff;
}
.countdown_section br{
	display: block;
   	margin: 10px 0;
	content: " ";
}
.countdown_amount {
	background-color: #fff;
	box-sizing: border-box;
	padding:30px;
	font-family:$headings;
	font-size:3.8rem !important;
	color:$dkrgrey;
	line-height: 2.5;
	margin:0 10px !important;
}

/* BUTTONS */
#faq-button{
	margin-top:50px;
	margin-bottom:-25px;
}
#about-button{
	margin-top:-25px;
	margin-bottom:50px;
}

/* READ FAQS */
#read-faqs{
	text-transform: uppercase;
	margin:80px auto 20px;;
}
#read-faqs strong:after{
	border-bottom: 5px solid $grey;
	display:block;
	content:'';
	max-width:79px;
	margin:0 auto -15px;
}
#read-faqs a{
	text-decoration: none;
	color:$dkrgrey;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#read-faqs a:hover{
	color:$coral;
}

/* SINGLE TESTIMONIAL */
.single-testimonial .testimonial-container{
	box-sizing: border-box;
	padding:45px 60px 20px;
	background-color: $ltgrey;
	border-bottom: 12px solid $green;
	max-width:950px
}
.single-testimonial .testimonial-container .auth-img {
	float:left;
}
.single-testimonial .testimonial-container .auth-img img{
	max-width:150px;
	border-radius:50%;
}
.single-testimonial .testimonial-container .auth-text{
	float:right;
	max-width:79%;
	position: relative;
}
.single-testimonial .testimonial-container .auth-text p{
	font-size:2.0rem;
	margin-bottom:1%;
}
.single-testimonial .testimonial-container .auth-text:before{
	content:'';
	display:block;
	background-image: url(_static/images/quote@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
    width: 23px;
    height: 16px;
	position: absolute;
    margin-left: -40px;
    top: 5px;
}


/* REASON YOU ARE HERE SECTION */
#reason-u-r-here{
	box-sizing: border-box;
	padding:183px 0 50px;
	background: -moz-linear-gradient($ltcoral 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient($ltcoral 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from($ltcoral), to(rgba(255,255,255,0)));
    background: -o-linear-gradient($ltcoral 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient($ltcoral 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$ltcoral', endColorstr='#fff',GradientType=0 );
	margin-top:-130px;
}
#reason-u-r-here ul li:before {   
    content: "";  
    border-color: transparent $dkrgrey;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.40em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -1em;  
    top: 1em;  
    position: relative;  
}
#reason-u-r-here ul li{
	margin-bottom:0;
}
#reason-u-r-here ul li {
  position: relative;
}
#reason-u-r-here ul li:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
}
#reason-u-r-here ul li:after {
  right: -1px;
  height: 1px;
  max-width:700px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($coral), to(transparent));
  background-image: -webkit-linear-gradient(left, $coral, transparent);
  background-image: -moz-linear-gradient(left, $coral, transparent);
  background-image: -o-linear-gradient(left, $coral, transparent);
}
#reason-u-r-here ul li:last-child:after{
	height:0;
}

/* MOTHERHOOD SECTION */
#motherhood{
	background-repeat: no-repeat;
	background-position: left top;
	background-size:cover;
	position:relative;
	min-height:700px;
	box-sizing: border-box;
	padding:80px 0 50px;
}
#motherhood p{
	max-width:650px;
}
#motherhood .text-outer{
	max-width:50% !important;
}
/* WHAT'S NEEDED SECTION */
#whats-needed{
	box-sizing: border-box;
	padding:60px 0 20px;
	color:#fff;
}
#whats-needed ul {
    -moz-column-count: 4;
    -moz-column-gap: 2%;
    -webkit-column-count: 4;
    -webkit-column-gap: 2%;
    column-count: 4;
    column-gap: 2%;
	margin-top:-20px;
}
#whats-needed ul li{
	margin-left:1em;
	margin-bottom: 0;
}
#whats-needed ul li:before {   
    content: "";  
    border-color: transparent #fff;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.40em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -1em;  
    top: 1em;  
    position: relative;  
}

/* FOCUSE SECTION */
#focus{
	box-sizing: border-box;
	padding:100px 0 0;
	background: url(_static/images/o-logo-part.png), -moz-linear-gradient(#f6e4c7 0%, rgba(255,255,255,0) 100%);
    background: url(_static/images/o-logo-part.png), -webkit-linear-gradient(#f6e4c7 0%, rgba(255,255,255,0) 100%);
    background: url(_static/images/o-logo-part.png), -webkit-gradient(linear, 0 0, 0 100%, from(#f6e4c7), to(rgba(255,255,255,0)));
    background: url(_static/images/o-logo-part.png), -o-linear-gradient(#f6e4c7 0%, rgba(255,255,255,0) 100%);
    background: url(_static/images/o-logo-part.png), linear-gradient(#f6e4c7 0%, rgba(255,255,255,0) 100%);
    filter: url(_static/images/o-logo-part.png), progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e4c7', endColorstr='#fff',GradientType=0 );
	background-repeat: no-repeat;
	background-position: top center;
}
#focus ul li{
	margin-bottom:0;
}
#focus ul li:before {   
    content: "";  
    border-color: transparent $dkgrey;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.40em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -1em;  
    top: 1em;  
    position: relative;  
}
#focus h1{
	text-transform: uppercase;
	font-size:5.6rem;
	max-width:900px;
	margin:50px auto 30px;
}


/* MEMBERSHIP BLOCKS */
.membership-blocks{
	box-sizing: border-box;
	padding:0 0 70px;
	position: relative;
}
.membership-blocks h1.intro-text{
	text-align: center;
	text-transform: uppercase;
	font-size:4.6rem;
	padding:20px 0 50px;
}
.membership-blocks .icon{
	background-color:$dkgrey;
	border-radius: 50%;
	box-sizing: border-box;
	padding:5px;
	height:100px;
	width:100px;
	text-align: center;
	margin:-50px auto 0;
}
.membership-blocks .icon .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.membership-blocks .icon img {
    vertical-align: middle;
	max-width:75px;
}
.membership-blocks h1.outro-text{
	text-align: center;
	color:$coral;
	text-transform: uppercase;
	font-size:5.5rem;
	padding-top:30px;
}
.membership-blocks h2.block-title{
	text-transform: uppercase;
    color: #74a473;
    text-align: center;
    margin: -50px auto 0;
    background-color: #fff;
    max-width: 100%;
}
.membership-blocks .block-text{
	box-sizing: border-box;
	padding:25px 25px 50px;
	border:2px solid $green;
	min-height: 410px;
}
.member-blocks .member-block{
	width: 48%;
	margin-bottom:4%;
}
.member-blocks .gutter-sizer { 
	width: 4%; 
}
#member-block-graphic{
	background-image:url(_static/images/graphic.png);
	display:block;
	content:'';
	height:369px;
	width:181px;
	background-position: left top;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	margin-top:-20%;
}

/* KATE BIO SECTION */
#kate-bio{
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	position:relative;
	min-height:700px;
	box-sizing: border-box;
	padding:65px 0
}
#kate-bio .inner-text{
	display:none;
	width:82%;
	box-sizing: border-box;
	padding:25px;
	/*border:2px solid $coral;*/
	border: 2px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(300deg, rgba(237,107,100,0) 20%, rgba(237,107,100,1));
  -o-border-image: -o-linear-gradient(300deg, rgba(237,107,100,0) 20%, rgba(237,107,100,1));
  border-image: linear-gradient(300deg, rgba(237,107,100,0) 20%, rgba(237,107,100,1));
  border-image-slice: 1;
}



/* CHECKLISTS */
.checklist-section{
	box-sizing: border-box;
	padding:70px 0 50px;
	background-color: $ltgrey;
}
.checklist-section h2{
	text-align: center;
	text-transform: uppercase;
	margin-bottom:4%;
}
.checklist-section ul li{
	box-sizing: border-box;
	padding:20px 25px;
	background-color: #fff;
	border-left:9px solid $coral;
	font-family: $headings;
	font-weight: 700;
	text-transform: uppercase;
}
.checklist-section ul li i{
	float:right;
	font-size: 5.5rem;
	line-height: .60;
}

/* BONUSES */
.bonus-section{
	box-sizing: border-box;
	padding:115px 0;
	background-color: $green;
}
.bonus-title{
	background-color: $dkrgrey;
	color:#fff;
	font-size:3.6rem;
	font-family:$headings;
	font-weight:700;
	box-sizing: border-box;
	padding:10px 50px;
}
.bonus-text{
	background-color: #fff;
	box-sizing: border-box;
	padding:50px;
	border-bottom:12px solid $coral;
	margin-bottom:100px;
}
.bonus-text hr{
	border-top: 2px solid $ltgrey;
}
.bonus-text .auth-img {
	float:left;
}
.bonus-text .auth-img img{
	max-width:150px;
	border-radius:50%;
}
.bonus-text .auth-text{
	float:right;
	max-width:79%;
	position: relative;
}
.bonus-text .auth-text:before{
	content:'';
	display:block;
	background-image: url(_static/images/quote@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
    width: 23px;
    height: 16px;
	position: absolute;
    margin-left: -40px;
    top: 5px;
}
.bonus-text .auth-text p{
	font-size:2.0rem;
	margin-bottom:1%;
}
.bonus-text:after{
  content: "";
  display: table;
  clear: both;
}


/* MISSION */
.mission-section .mission-block{
	box-sizing: border-box;
	padding:30px;
	background-color: $coral;
	color:#fff;
	margin-top:-8%;
	max-width:900px;
}
.mission-section .mission-block .mission-title{
	text-align: center;
	font-size:5.8rem;
	background-color:$coral;
	font-family:$light;
	box-sizing: border-box;
	text-transform: uppercase;
	margin:-70px auto 0;
	display:block;
	max-width:65%;
}
.mission-section .mission-block .mission-text{
	box-sizing: border-box;
	padding:40px 25px 25px;
	border:2px solid #fff;
}
.mission-section .mission-block .mission-text p{
	font-size:2.2rem;
	margin:-10px auto 0;
}

/* SINCE MOTHERHOOD */
#since-motherhood{
	box-sizing: border-box;
	padding:80px 0;
}
#since-motherhood h3{
	font-size:2.8rem;
}

/* NUMBERED SECTION */
.numbered-section h2{
	text-align:center;
	text-transform:uppercase;
	margin-bottom:3%;
}
.numbered-section .num-circle{
	background-color:$green;
	color:#fff;
	border-radius: 50%;
	padding:5px;
	height:41px;
	width:41px;
	text-align: center;
	font-size:2.9rem;
	font-weight:700;
	font-family: $headings;
	display:block;
	float:left;
	margin-right:25px;
}
.numbered-section .item-text{
	margin-left:75px;
}
.numbered-section .item-text blockquote:before{
	background-image: url(_static/images/quote-coral@2x.png);
}
.numbered-section .item-text blockquote p{
	color:$coral;
	font-size:2.4rem;
	line-height: 1.5;
	font-style:italic;
}
.numbered-section .item-text blockquote p strong{
	display:inline;
}
.numbered-section .photo-list-box, .numbered-section .list-box{
	box-sizing: border-box;
	padding:40px 50px 30px 30px;
	border:1px solid $grey;
	margin-top:50px;
}
.numbered-section .photo-list-box h4{
	text-transform:uppercase;
}
.numbered-section .photo-list-box .photo-listing{
    display: table;
}
.numbered-section .photo-list-box .photo-listing .listing-left{
    display: table-cell;
    vertical-align: middle;
}
.numbered-section .photo-list-box .photo-listing .listing-right{
	display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.numbered-section .photo-list-box .photo-listing img{
	border-radius:50%;
	max-width:80px;
}
.numbered-section .photo-list-box .photo-list-outro-text{
	margin:25px 0  0 8.5%;
}
.numbered-section .list-box h4{
	text-transform: uppercase;
}
.numbered-section .list-box ul, .numbered-section .list-box ul li{
	margin-bottom:0;
}
.numbered-section .list-box ul li:before {   
    content: "";  
    border-color: transparent $dkrgrey;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.40em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -1em;  
    top: 1em;  
    position: relative;  
}
.numbered-section hr:last-child{
	border-top:none;
}
#number-block-graphic{
	background-image:url(_static/images/graphic-2.png);
	display:block;
	content:'';
	height:441px;
	width:245px;
	right:0;
	background-position: right top;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	margin-top:-20%;
}
#number-block-graphic-2{
	background-image:url(_static/images/graphic-3.png);
	display:block;
	content:'';
	height:355px;
	width:193px;
	left:0;
	background-position: left top;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	margin-top:-90%;
}

/* COMMUNITY SECTION */
#community{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position:relative;
	box-sizing: border-box;
	padding:85px 0 25px;
	color:#fff;
	min-height: 300px;
	margin-top:-65px;
	z-index: -1;
}

/* WHEN YOU JOIN SECTION */
#when-u-join{
	box-sizing: border-box;
	padding:110px 0 40px;
}

/* SIGNATURE SECTION */
#signature{
	box-sizing: border-box;
	padding:60px 0 100px;
	position: relative;
}
#signature:after{
	background-image:url(_static/images/graphic-4.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	height:346px;
	width:294px;
	display:block;
	content:'';
	position: absolute;
	right:0;
	bottom:-140px;
}

/* FAQ */
#faq{
	box-sizing: border-box;
	padding:70px 0;
	color:#fff;
}
#faq h2{
	color:#fff;
}

/* TESTIMONIAL SECTION */
.testimonial-section{
	box-sizing: border-box;
	padding:65px 0;
}
.testimonial-section .testimonial{
	box-sizing: border-box;
	padding:40px;
	background-color: $ltgrey;
	border-bottom: 12px solid $green;
	content: "";
  	display: table;
  	clear: both;
	margin-bottom:50px;
}
.testimonial-section .testimonial .auth-img{
	max-width:225px;
	float:left;
	display:block;
}
.testimonial-section .testimonial img{
	border-radius:50%;
	min-width:225px;
	max-width:100%;
}
.testimonial-section .testimonial .auth-txt{
	float:right;
	max-width:72%;
}
.testimonial-section .testimonial .auth-txt .auth-pull-quote{
	font-size:2.6rem;
	font-weight:700;
	font-family:$headings;
	margin-bottom: 3%;
}
.testimonial-section .testimonial .auth-txt .auth-quote{
	font-size:2.0rem;
	margin-left:50px;
	position: relative;
}
.testimonial-section .testimonial .auth-txt .auth-quote:before{
	content:'';
	display:block;
	background-image: url(_static/images/quote@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
    width: 23px;
    height: 16px;
	position: absolute;
    margin-left: -40px;
    top: 5px;
}
.testimonial-section .testimonial .auth-txt .auth{
	font-size:2.0rem;
	margin-left:50px;
	text-transform: uppercase;
}
.testimonial-section .testimonial .auth-txt .auth b{
	font-weight:700;
	font-family:$headings;
}

/* REFUND POLICY */
#refund-policy p{
	font-size:1.6rem;
	text-align: justify;
}


/* ABOUT KATE SECTION */
#about-kate{
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
	min-height:500px;
	position:relative;
	box-sizing: border-box;
	padding:60px 0;
}
#about-kate h2{
	text-transform:uppercase;
}
#about-kate p{
	font-size:2.0rem;
}
#about-kate p:nth-of-type(1){
	max-width:950px;
}
#about-kate p:nth-of-type(2){
	max-width:750px;
}
#about-kate p:nth-of-type(3){
	max-width:700px;
}
#about-kate p:nth-of-type(4){
	max-width:350px;
}
#about-kate p:nth-of-type(5){
	max-width:350px;
}
#about-kate p:nth-of-type(6){
	max-width:350px;
}
#about-kate p:nth-of-type(7){
	max-width:350px;
}