/*
Used to style the TinyMCE editor.
*/
html .mceContentBody {
	background-color:#f0f0f0;
}
.acf_content{
	background-color:#f0f0f0 !important;
}
.acf_content h1,.acf_content h2,.acf_content h3,.acf_content h4,.acf_content h5,.acf_content h6,.acf_content p{
	
}
* {
	line-height: 1.5;
}
p,
dl,
td,
th,
ul,
ol{
	font-size: 16px;
}
tr th,
thead th,
label,
tr th,
thead th {
	
}
pre {
	font-family: "Courier New", Courier, monospace;
}
code, code var {
	font-family: "Lucida Console", Monaco, monospace;
}
body, input, textarea {
	font-size: 16px;
}
p {
	margin-bottom: 18px;
}


hr {
	background-color: #d1d1d1;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	margin-top: 18px;
	clear:both;
}
/* Text elements */
p, ul, ol {
    color: #1a1a1a;
    font-size: 16px;
	font-family: Merriweather, Georgia, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}


ul {
	list-style: disc inside;
	margin: 0 0 18px 1.5em;
}


ol {
	list-style: decimal inside;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
	border: none;
}
big {
	font-size: 131.25%;
}
ins {
	background: #FFFFCC;
	border: none;
	color: #333;
}
del {
	text-decoration: line-through;
	color: #555;
}


blockquote p{
	border-left: 4px solid #1a1a1a;
    color: #686868;
    font-size: 19px;
    font-style: italic;
    line-height: 1.4736842105;
    margin-bottom: 28px;
    overflow: hidden;
    padding: 0 0 0 24px;
}


code {
	margin: 0 5px;
	padding: 2px 10px;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
pre {
    background: #f3f3f7;
    border: 1px solid #dedee3;
    padding: 11px;
    font-size: 12px;
    line-height: 1.3em;
    margin-bottom: 22px;
    overflow: auto;
}
pre > code {
	display: block;
	padding: 5px 15px;
	white-space: pre;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 10px;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}


a:link {
	color: #007acc;
}
a:visited {
	color:#686868;
}
a:active,
a:hover {
	color: #686868;
}


p,
ul,
ol,
dd,
pre,
hr {
	margin-bottom:24px;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
pre,
kbd,
tt,
var {
	font-size: 15px;
	line-height: 21px;
}
code {
	font-size: 13px;
}

strong,
b,
dt,
th {
	color: #1a1a1a;
}


h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
	font-family: Merriweather, Georgia, serif;
	font-weight: 700;
	color:#1a1a1a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Merriweather, Georgia, serif;
	color:#1a1a1a;
	font-weight:400;
    letter-spacing: normal;
	text-transform:none;
}


h1 {
	font-size: 40px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 15px;
}
table {
	border: 1px solid #e7e7e7 !important;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
tr th,
thead th {
	border: none !important;
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border: none !important;
	border-top: 1px solid #e7e7e7 !important;
	padding: 6px 24px;
}
img {
	margin: 0;
	max-width: 640px;
	height:auto;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	border: none;
	background: #f1f1f1;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 4px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.wp-caption img {
	margin: 5px;
}
.wp-caption p.wp-caption-text {
	margin: 0 0 4px;
}
.wp-smiley {
	margin:0;
}